<% if link_path %>
  <%= link_to link_path,
    class: "element",
    style: "
      height: #{height};
      width: #{(1 / sm_count) * 100}%;
      background-color: #{background_color};
    " do  %>
    <div class="project-card-categories">
      <% element.services.each do |service| %>
        <%= image_tag service.photo, alt: "alttext", class: "service-svg-small" %>
      <% end %>
    </div>
    <h6><%= element.title %></h6>
    <p><%= element.services_sentence %></p>
  <% end %>
<% else %>
  <div
    class="element"
    style="
      height: <%= height %>;
      width: <%= (1 / sm_count) * 100 %>%;
      background-color: <%= background_color %>;
    ">
    <div class="project-card-categories">
      <% element.services.each do |service| %>
        <%= image_tag service.photo, alt: "alttext", class: "service-svg-small" %>
      <% end %>
    </div>
    <h6><%= element.title %></h6>
    <p><%= element.services_sentence %></p>
  </div>
<% end %>

