<div class="partners-and-accreditations-container">
  <h3 class="text-center mb-3 dark-blue">Partners & Accreditations</h3>
  <div class="partners-and-accreditations-images">
    <%= image_tag 'p&a-one.png', class: 'pa-image-one' %>
    <%= image_tag 'p&a-two.png', class: 'pa-image-two' %>
    <%= image_tag 'p&a-three.png', class: 'pa-image-three' %>
    <%= image_tag 'cpd-cert.png', class: 'pa-image-seven' %>
    <%= image_tag 'p&a-four.png', class: 'pa-image-four' %>
    <%= image_tag 'p&a-five.png', class: 'pa-image-five' %>
    <%= image_tag 'p&a-six.png', class: 'pa-image-six' %>
  </div>
</div>
