<div class="project-card" style="background-image: linear-gradient(rgba(0,0,20,0.1), rgba(0,0,20,0.3)), url(<%= url_for(project.banner) %>) no-repeat center center / cover">
  <div class="project-card-categories">
    <% project.services.each do |service| %>
      <%= image_tag service.photo, alt: "alttext", class: "service-svg-small" %>
    <% end %>
  </div>
  <div class="project-card-details">
    <h5 class="project-card-title"><%= project.name %></h5>
    <p class="project-card-description"><%= project.location %> | <%= project.services.map { |p| p.title }.split(',').join(' | ') %></p>
  </div>
</div>
