<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <div class="form-post">
        <h1>New Project</h1>
        <%= simple_form_for [:admin, project] do |f| %>
          <%= f.input :name %>
          <%= f.input :location %>
          <%= f.input :client %>
          <%= f.input :architect %>
          <%#= f.association :categories, as: :check_boxes %>
          <div class="form-group">
            <label class="control-label check_boxes optional">Services</label>
            <input type="hidden" name="project[service_ids][]" value="">
            <div class="category-choices">
              <% Service.all.each do |service| %>
                <input type="checkbox" class="hidden" value="<%= service.id %>" name="project[service_ids][]" id="project_service_ids_<%= service.id %>">
                <label class="category-choice" for="project_service_ids_<%= service.id %>">
                  <%= service.title %>
                  <i class="fa fa-check"></i>
                </label>
              <% end %>
             </div>
          </div>
          <%= f.input :banner %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <!-- Inject categories here -->
          <%= f.input :content, placeholder: "In this tutorial..." %>
          <%= f.submit "Save", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
