<div class="devise-wrapper">
  <div class="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url(<%= asset_path('seven-main.jpg') %>); background-size: cover; background-position: center;">
    <div class="banner-text">
      <h1 class="text-center"><strong>CONTACT</strong></h1>
      <h5 class="text-center">Please feel free to contact Seven Consulting if you have any questions about how we can help your project.</h5>
    </div>
  </div>
  <h2 class="text-center dark-blue con-hed pt20"><strong>How can we help?</strong></h2>
  <div class="row" style="max-width: 1220px;margin: 0 auto;">
    <div class="col-sm-12 col-md-6">
      <div class="devise-form">
        <h3 class="text-center mb-4 dark-blue">Leave us a message</h3>
        <%= simple_form_for :contact, url: contact_path, method: :post, html: { class: "contact-form" } do |f| %>
          <div class="form-inputs">
            <%= f.input :name, required: false, input_html: { class: "devise-input" }, placeholder: "John Exampleson", label: false %>
            <%= f.input :email, required: false, input_html: { class: "devise-input" }, placeholder: "john@example.com", label: false %>
          </div>
          <div class="form-inputs">
            <%= f.input :phone, required: false, input_html: { class: "devise-input" }, placeholder: "07785 673 357", label: false %>
            <%= f.input :location, required: false, input_html: { class: "devise-input" }, placeholder: "London", label: false %>
          </div>
          <%= f.input :message, as: :text, required: false, input_html: { class: "devise-input", rows: 10 }, label: false, placeholder: "Your message here...."  %>
          <%= f.input :attachment, as: :file, required: false %>
          <%= f.button :submit, "SEND", class: "seven-button devise-button mb-4" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 text-center pt20">
      <h3 class="text-center mb-4 dark-blue">Call or email us</h3>
      <p class="m-0">+44(0)161 209 3259</p>
      <p class="mb-5"><a href="mailto:nev@7consulting.co.uk">nev@7consulting.co.uk</a></p>
      <h3 class="text-center mb-4 dark-blue">Or find us at</h3>
      <p class="m-0">Seven Consulting</p>
      <p class="m-0">Peter House,</p>
      <p class="m-0">Oxford Street,</p>
      <p class="m-0">Manchester,</p>
      <p class="m-0">M1 5AN</p>
      <div class="img-holder">
        <div class="map-img" style="background-image: url(<%= asset_path('sevenmap.png')%>);)"></div>
      </div>
    </div>


  </div>
</div>
