<% if link_path %>
  <%= link_to link_path,
    class: "element",
    style: "height: #{height};
    width: #{(1 / sm_count) * 100}%;
    background-image: url(#{url_for(element.banner)})" do %>
    <h5><%= element.name %></h5>
    <p><%= element.location %> | <%= element.services_sentence %></p>
  <% end %>
<% else %>
  <div
    class="element"
    style="
      height: <%= height %>;
      width: <%= (1 / sm_count) * 100 %>%;
    ">
    <h5><%= element.name %></h5>
    <p><%= element.location %> | <%= element.services_sentence %></p>
  </div>
<% end %>

